# Re-use experiment level metadata
-m={{ examples_ocean_dir }}/metadata.yaml
# Ocean model specific global metadata
-m=meta_ocean_global.yaml
# Extract frequency from filename 
--fnregex=ocean-\dd-(?P<variable>.*?)-(?P<frequency>.*?)-(?P<reduction>.*?)-\S\S_\d+_\d+\.nc$
# Apply to all ocean data in output subdirectory
subdir1/ocean-2d-wind_power_u-1monthly-mean-ym_0792_01.nc
